*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer / Eclipse
.mr.developer.cfg
.project
.pydevproject
.settings/

# Ignore Natlink files
core/
_vocola_main.py

# Ignore personal and work specific files.
_work.py
_personal.py
